
body{
	background:#3498db;
	font-family: sans-serif;
	text-decoration: none;
}

h1{
	color: whitesmoke;
	width: 100%;
	text-align: center;
	margin: auto;

}

.list ul li{

	display: block;
	background: whitesmoke;
	padding: 10px;
	text-align: right;
	margin-right: 20px;

}
.list ul li a{
	text-decoration: none;
}
.article p{
	color: whitesmoke;
	margin-left: 41px;
	text-align: justify;
}
.article h2{
	text-align: center;
	color: black;
	padding: 10px;
	text-decoration: none;
	margin-left:30px ;
}

/* Css For Footer */
.footer{
	background-color: #e1b12c;
	text-align: center;

}
