
.icon img{
	width:150px;
	padding-bottom: 20px;
	margin: auto;
	display:block;
	cursor: pointer;
}
.upload{
	text-align: center;
	cursor: pointer;
}

.registration{
	width: 700px;
	height: 1000px;
	margin: auto;
}